{{- if .Values.overprovisioner.enabled }}
{{- if .Values.overprovisioner.priorityClass.create }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: {{ .Values.overprovisioner.priorityClass.name }}
  labels:
    {{- include "bosun.labels" . | nindent 4 }}
value: {{ .Values.overprovisioner.priorityClass.value }}
globalDefault: {{ .Values.overprovisioner.priorityClass.globalDefault }}
description: {{ .Values.overprovisioner.priorityClass.description | quote }}
---
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "bosun.componentFullname" (dict "root" . "component" "executor-overprovisioner") }}
  namespace: {{ include "bosun.namespace" . }}
  labels:
    {{- include "bosun.labels" . | nindent 4 }}
    app.kubernetes.io/component: executor-overprovisioner
spec:
  replicas: {{ .Values.overprovisioner.replicas }}
  selector:
    matchLabels:
      {{- include "bosun.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: executor-overprovisioner
  template:
    metadata:
      labels:
        {{- include "bosun.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: executor-overprovisioner
    spec:
      priorityClassName: {{ .Values.overprovisioner.priorityClass.name }}
{{- with .Values.overprovisioner.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
{{- end }}
{{- $tolerations := include "bosun.tolerations" (dict "component" .Values.overprovisioner.tolerations "global" .Values.global.tolerations) -}}
{{- if $tolerations }}
{{- $tolerations | nindent 6 }}
{{- end }}
      terminationGracePeriodSeconds: 0
      containers:
        - name: reserve
          image: registry.k8s.io/pause:3.9
          resources:
            {{- toYaml .Values.overprovisioner.resources | nindent 12 }}
{{- end }}
