name: Publish Chart

on:
  push:
    branches:
      - master
    paths:
      - Chart.yaml
      - CHANGELOG.md

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish chart to GitHub Pages
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: .
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CR_SKIP_EXISTING: "true"
          CR_RELEASE_NAME_TEMPLATE: "v{{ .Version }}"
